* {
    font-family: sans-serif ;
    color: #C5C6C7;
}

#name {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 4em;
    color: #66FCF1;
    font-style:oblique;
}
/*Navigation Bar*/
.navStyle {
    font-size: 2em;
    color: antiquewhite;
    background-color: #1F2833;
}
#navBar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link {
text-decoration: none;
}
a:hover {
    color: #66FCF1;
}
#navBar li {
    margin: .75em;
}


/*Image and Caption*/
figure {
    border: 3px #45A29E solid;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 692px;
}
figcaption {
    background-color: #1F2833;
    font-style: italic;
    padding: 2px;
    text-align:center;
}
figure:hover {
    border: #66FCF1;
    background-color: #66FCF1;
}
/*images*/
#bodyImages {
    display: flex;
    justify-content: space-evenly;
    margin: 0em;
    padding: 0em;
    margin-bottom:100px;
}
#cam {
width: 15em;
}
#controller {
width: 25em;
}

#educationImages {
    display: flex;
    justify-content: space-evenly;
    margin: 0em;
    padding: 0em;
    margin-bottom:200px;
}
#utepLogo {
width: 15em;
}
#flatironLogo {
    width: auto;
    height: 200px;
}

/*body*/
body {
    margin: 40px;
    background-color: #0B0C10;
    
}

.pHeader {
    color:antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 0;
    padding:0;
    list-style-type:none;
    margin-top: .5em;
    margin-bottom: 1em;
}

#passions {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: space-around;
    max-width: 30em;
    font-size: 1.5em;
    margin-bottom: 100px;
    margin-left: 50px;
}
.pSubHeader {
    color: #45A29E;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    max-width: 30em;
    margin: 0em;
    padding: 0em;
}
