* {
    font-family: sans-serif ;
    color:whitesmoke;
}

#name {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 4em;
}
/*Navigation Bar*/
.navStyle {
    font-size: 2em;
}
#navBar {
    display: flex;
    justify-content: flex-end;
    margin: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navBar li {
    margin: 1em;
}
/*Image and Caption*/
figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 692px;
}
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align:center;
}
/*body*/
body {
    margin: 40px;
    background-color: #3b3e60;
}

.pHeader {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 0;
    padding:0;
    list-style-type:none;
}

#passions {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: space-around;
    max-width: 30em;
    font-size: 1.5em;
    margin-left: .5em;
    padding-left: .5em;
    margin-right: .5em;
    padding-right: .5em;
}
.pSubHeader {
    display: flex;
    justify-content: center;
    font-size: 2em;
    max-width: 30em;
    margin: 0em;
    padding: 0em;
}
